.como-jugar-layout {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.column {
  display: flex;
  flex-direction: row; /* Las columnas internas estarán una al lado de la otra */
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.column-center {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  color: #fff; /* Texto blanco */
}

.column-left,
.column-right {
  flex: 1;
  display: flex;
  justify-content: center; /* Centra las columnas internas */
  align-items: center;
  padding: 0;
}

.inner-column {
  height: 100%; /* Ajusta la altura al contenedor */
  background-color: #0E131F; /* Fondo más oscuro */
}

.inner-column-thick {
  width: 40px; /* Tamaño fijo para la columna gruesa */
  height: 100%; /* Asegura que ocupe toda la altura del contenedor */
}

.inner-column-thin {
  width: 10px; /* Tamaño fijo para la columna delgada */
  height: 100%; /* Asegura que ocupe toda la altura del contenedor */
}

.column-left .inner-column-thick {
  margin-left: 1%;
}

.column-right .inner-column-thick {
  margin-right: 1%;
}

.como-jugar-content {
  max-width: 600px;
  text-align: center;
}

.volver-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 24px;
  font-size: 1.1rem;
  background-color: #292929;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s ease;
}

.volver-btn:hover {
  background-color: black;
}