.user-header {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.user-name {
  font-size: 16px;
  color: #fff;
  white-space: nowrap;
}

.user-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #0E131F;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px;
}

.user-photo-large {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.user-name-large {
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

.user-coins,
.user-score {
  margin: 5px 0;
}

.delete-button {
  background: #ff4d4d;
  color: lightgray !important;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.delete-button:hover {
  background: #ff1a1a;
  color: white !important;
}

.googleBtn {
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  color: black !important;
}

.logout-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}