body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; /* Asegurar que ocupe todo el ancho */
  min-height: 100vh;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden; /* Evitar desbordamientos */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0E131F;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar-links li button {
  color: #8B939C;
  text-decoration: none;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38405F;
  padding-left: 10rem;
  padding-right: 10rem;
}

.link-button {
  background: none;
  border: none;
  color: #8B939C;
  font: inherit;
  cursor: pointer;
  text-decoration: inherit;
  padding: 0;
}

.link-button:hover {
  color: #8B939C;
}

.navbar-title:hover {
  color: white;
}

#phaser-container {
  border: 5px solid #0E131F; /* Color y grosor del borde */
  border-radius: 40px; /* Esquinas redondeadas */
  padding: 15px; /* Espaciado interno opcional */
  background-color: #0E131F; /* Fondo opcional para el marco */
  display: inline-block; /* Asegura que el tamaño del contenedor se ajuste al contenido */
  margin-top: 2%;
  margin-bottom: 2%;
}
.footer {
  background-color: #111;
  padding: 30px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* para que empiece desde arriba */
  border-top: 2px solid #333;
  min-height: 200px; /* hace el footer más alto visualmente */
}

.footer-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  align-self: flex-start;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 0;
  align-items: flex-end;
}

.footer-links li {
  display: flex;
}
